<ion-view view-title="Acerca de .." class="animated bounceInRight">
    <ion-content>
        <h1 class="title">SAGAJI</h1>
        <ion-list>
            <ion-item>
                <p>
                    Distribuciones SAGAJI SA de CV. Pedidos, Devoluciones, Depósitos y Cobranza.
                    <a class="item" href="#" onclick="window.open('https://www.sagaji.com.mx/', '_system', 'location=yes'); return false;">
                        www.sagaji.com.mx
                    </a>
                </p>

                <!--<p>
                    <strong>
                        Desarrollado por Ipsis Core SC
                        <a class="item" href="#" onclick="window.open('http://ipsiscore.com.mx/site/', '_system', 'location=yes'); return false;">
                            ipsiscore.com.mx
                        </a>
                    </strong>-->



            </ion-item>


        </ion-list>


    </ion-content>
</ion-view>