<ion-view view-title="Tablero">

    <ion-content >


        <ion-list>
            <ion-item type="item-text-wrap">
                <a href="#/app/pedidosh">
                    Pedidos pendientes
                    <span class="badge badge-balanced">{{Dashboard.NumPedidos}}</span>
                </a>
            </ion-item>

            <ion-item type="item-text-wrap">
                <a href="#/app/catalogos">
                    Productos cargados
                    <span class="badge badge-balanced">{{Dashboard.NumProductos}}</span>
                </a>
            </ion-item>

            <ion-item type="item-text-wrap">
                <a href="#/app/catalogos">
                    Carteras
                    <span class="badge badge-balanced">{{Dashboard.NumCarteras}}</span>
                </a>

            </ion-item>

            <ion-item type="item-text-wrap">
                <a href="#/app/catalogos">
                    Clientes
                    <span class="badge badge-balanced">{{Dashboard.NumClientes}} </span>
                </a>
            </ion-item>

            <ion-item type="item-text-wrap">
                <a href="#/app/catalogos">
                    Domicilios
                    <span class="badge badge-balanced">{{Dashboard.NumDomicilios}} </span>
                </a>
            </ion-item>

            <ion-item type="item-text-wrap">
                <a href="#/app/catalogos">
                    Equivalencias
                    <span class="badge badge-balanced">{{Dashboard.NumEquivalencias}} </span>
                </a>
            </ion-item>

             <ion-item type="item-text-wrap">
                <a href="#/app/devolucionesh">
                    Devoluciones
                    <span class="badge badge-balanced">{{Dashboard.NumDevoluciones}} </span>
                </a>
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>