<ion-view view-title="Configuración">
    <ion-content >
        <ion-list>
            <ion-item class="item-input">
                <label>Servicios SAGAJI:</label>
                <input type="text" ng-model="settings.serviceUrl" />
            </ion-item>
            <ion-item class="item-input">
                <label>Tiempo de espera:</label>
                <input type="number" ng-model="settings.serviceTimeout" />
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>