<ion-view view-title="Pedidos" cache-view="false" hide-back-button="false">
    <ion-content has-bouncing="true" class="custom">
        <ion-list>
            <ion-item ng-click="goItem(0)">
                <i class="ion ion-bag"> Pedido</i>
            </ion-item>

            <ion-item ng-click="goItem(1)">
                <i class="ion ion-ios-cart"> Pedidos en carrito</i>
            </ion-item>

            <ion-item ng-click="goItem(2)">
                <i class="ion ion-folder"> Pendientes por enviar</i>
            </ion-item>

            <ion-item ng-click="goItem(3)">
                <i class="ion ion-ios-book-outline"> Historico de pedidos</i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>