<ion-view view-title="Pedidos en carrito : {{loginData}}" cache-view="false">
    <ion-content class="padding" scroll="true">
        <h4>Pedidos en carrito</h4>
        <ion-list can-swipe="true" show-delete="false">
            <ion-item ng-repeat="item in Scratchs">
                <h4>Cliente: {{item.Cliente.NoCliente}}</h4>
                <p>
                    Pedido: <small>{{item.CvePedido}}</small>
                    <br />
                    Nombre: <strong>{{item.Cliente.Nombre}}</strong>
                    <br />
                    Partidas: <strong>{{item.Partidas.length}}</strong>
                    <br />
                </p>
                <ion-option-button class="button-light icon ion-edit" ng-click="Edit(item)"></ion-option-button>
                <ion-option-button class="button-assertive icon ion-close" ng-click="Remove(item)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>